<nav>
  <div class="site-title">
    <a href="/blogs"><h1>Gamer Blog</h1></a>
    <p id="manhattan">Manhattan College</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/login">Logout</a></li>
  </ul>
</nav>