<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About The Project</h2>
    <p>Here is our final project. This is a simple example of a gaming blog site where anyone can "login" and create their 
      own blogs for other users to interact with. While there may not be a comment section for each blog, the blog 
      itself its considered a database item and is stored in our collection on Mongodb. Which means each blog is saved
      and will be displayed on the front page, or deleted when clicking the delete button. 
      Some of the major points our project hit:
      <ul>
        <li>Its simple in design</li>
        <li>Includes several pages</li>
        <li>Displays each blog dynamically depending on how many blogs there are</li>
        <li>Adds a blog completely on site without the user entering any code</li>
        <li>Adds that blog to a cloud database</li>
        <li>Dynamically displays several decoration items</li>
      </ul>
      
      
      
      
      
    </p>
  </div>

  <div class="footer">
    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>